/* Estilização do overlay (Barra de pesquisa, etc...)*/
.map-overlay {
    z-index: 1;
    background: white;
    position: absolute;
    display: flex;
    justify-content: center;
    background: rgb(67, 183, 230);
}

.overlay-drag-mobile,
.overlay-drag-desktop {
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: rgb(67, 183, 230);
    color: white;
    text-decoration: none;
    -webkit-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.44);
    box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.44);
}


/* Estilização até width: 650px (mobile)*/
@media (max-width: 650px) {
    body {
        overflow: hidden;
    }

    .map-overlay {
        border-top: 5px solid rgb(67, 183, 230);
        width: 100%;
        height: 240px;
        margin-bottom: -240px;
        bottom: 0;
    }

    .overlay-drag-mobile {
        margin-top: -22px
    }

    .overlay-drag-desktop {
        display: none
    }
}

/* Estilização a partir de width: 650px (desktop) */
@media(min-width: 650px) {
    .map-overlay {
        border-right: 5px solid rgb(67, 183, 230);
        height: 100%;
        width: 400px;
        margin-left: -400px;
        left: 0;
        -webkit-box-shadow: 5px 0px 33px 0px rgba(0, 0, 0, 0.27);
        -moz-box-shadow: 5px 0px 33px 0px rgba(0, 0, 0, 0.27);
        box-shadow: 5px 0px 33px 0px rgba(0, 0, 0, 0.27);
    }

    .overlay-drag-mobile {
        display: none;
    }

    .overlay-drag-desktop {

        right: -22px;
        bottom: 50%;
    }
}

/* Animações da seta (mobile) */

@keyframes arrowUp {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-7px);
    }
}

.overlay-drag-mobile .fa-arrow-up {
    animation: arrowUp .2s linear;
    animation-fill-mode: forwards;
}

@keyframes arrowDown {
    0% {
        transform: translateY(-7px);
    }

    100% {
        transform: translateY(0px);
    }

}

.overlay-drag-mobile .fa-arrow-down {
    animation: arrowDown .2s linear;
    animation-fill-mode: forwards;
}

/* Animações da seta (desktop) */

@keyframes arrowRight {
    0% {
        transform: translate(0px);
    }

    100% {
        transform: translate(7px);
    }
}

.overlay-drag-desktop .fa-arrow-right {
    animation: arrowRight .2s linear;
    animation-fill-mode: forwards;
}

@keyframes arrowLeft {
    0% {
        transform: translate(7px);
    }

    100% {
        transform: translate(0px);
    }
}

.overlay-drag-desktop .fa-arrow-Left {
    animation: arrowLeft .2s linear;
    animation-fill-mode: forwards;
}

/* Estilização do conteúdo do overlay */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200&display=swap');



.overlay-content {
    margin-top: 20px;
    width: 410px;
    height: 220px;
    /* background-color: whitesmoke; */
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    overflow: scroll;
    padding: 0 15px;
}

.integrantes {
    list-style: none;
    text-decoration: none;
    /* background: red; */
    height: 220px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    padding: 5px
}

.integrante {
    background: white;
    width: 178px;
    height: 54px;
    margin-bottom: 10px;
    border-radius: 7px;
    padding: 8px;
    position: relative;
}

.integrante p {
    align-items: center;
    height: 50%;
    display: flex;
    width: 120px;
    margin: 0 0 0 56px;
    padding: 0;
    font-size: 14px;
}

.integrante .foto {
    color: rgb(67, 183, 230);
    font-size: 48px;
    height: 70px;
    width: 70px;
    border-radius: 7px 0 0 7px;
    position: absolute;
    border: 0px;
    margin: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 430px) {
    .integrante {
        width: 44%
    }

    .integrante p {
        font-size: 12px;
        width: 64%;
    }
}

@media(min-width: 650px){
    .integrantes{
        display: none;
    }
}