<!-- views/map.html -->
<html>

<head>
  <title>Map Page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/map-style.css" />
  <link rel="stylesheet" href="/styles/map-overlay-style.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>

<body>
  <!-- Seção geral overlay -->
  <section class="map-overlay">
    <!-- drag mobile -->
    <a class="overlay-drag-mobile" href="#">
      <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </a>
    <!-- drag desktop -->
    <a class="overlay-drag-desktop" href="#">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>
    <!-- conteúdo do overlay -->
    <div class="overlay-content">

      <!-- informações -->
    <h1 class="overlay-title">informações</h1>
    <div class="informacoes">
      <p class="informacoes-texto">
         Bem-vindo ao projeto <span>Open Street Map</span>, uma iniciativa open source e 
         crowdsourced com o objetivo de <span>remodelar a distribuição do turismo</span>, <span>garantindo acessibilidade.</span>
         Aqui, a premissa é simples: pessoas ajudam pessoas. Ao compartilhar informações e experiências, 
         construímos uma comunidade global que redefine a viagem de maneira inclusiva e significativa.
      </p>
    </div>

      <!-- Links -->
    <h1 class="overlay-title">links</h1>
    <div class="links">
      <a href="https://github.com/AnotherLyat/Open-Tourism-Map" class="github" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
    </div>

      <!-- Integrantes -->
      <h1 class="overlay-title">integrantes</h1>
      <ul class="integrantes">
        <li class="integrante">
          <i class="fa fa-user-circle foto" aria-hidden="true"></i>
          <p class="nome">
            Fábio Balestrin Veiga
          </p>
          <p class="ra">
            822129856
          </p>
        </li>
        <li class="integrante">
          <i class="fa fa-user-circle foto" aria-hidden="true"></i>
          <p class="nome">
            Gustavo Enzo Gonçalves
          </p>
          <p class="ra">
            822226174​
          </p>
        </li>
        <li class="integrante">
          <i class="fa fa-user-circle foto" aria-hidden="true"></i>
          <p class="nome">
            Leonardo Yuji Alves Tanaka
          </p>
          <p class="ra">
            821131703​
          </p>
        </li>
        <li class="integrante">
          <i class="fa fa-user-circle foto" aria-hidden="true"></i>
          <p class="nome">
            Matheus Neves Rodrigues
          </p>
          <p class="ra">
            822164324​
          </p>
        </li>
        <li class="integrante">
          <i class="fa fa-user-circle foto" aria-hidden="true"></i>
          <p class="nome">
            Matheus Vidinha Romano
          </p>
          <p class="ra">
            822164348​
          </p>

        </li>
      </ul>
    </div>
  </section>
  <div id="map"></div>

  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script id="map" src="/js/map.js"></script>
  <!-- <script id="overlay" src="/js/overlay.js"></script> -->
</body>

</html>