<!-- views/map.html -->
<html>

<head>
  <title>Map Page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/map-style.css" />
  <link rel="stylesheet" href="/styles/map-overlay-style.css" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>

<body>
  <section class="map-overlay">
    <a class="overlay-drag-mobile" href="#">
      <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </a>
    <a class="overlay-drag-desktop" href="#">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </a>
    <div class="overlay-content">
      <ul class="integrantes">
        <li class="integrante">
          <i class="fa fa-user-circle foto" aria-hidden="true"></i>
          <p class="nome">
            Fábio Balestrin Veiga
          </p>
          <p class="ra">
            822129856
          </p>
        </li>
        <li class="integrante">
          <i class="fa fa-user-circle foto" aria-hidden="true"></i>
          <p class="nome">
            Gustavo Enzo Gonçalves
          </p>
          <p class="ra">
            822226174​
          </p>
        </li>
        <li class="integrante">
          <i class="fa fa-user-circle foto" aria-hidden="true"></i>
          <p class="nome">
            Leonardo Yuji Alves Tanaka
          </p>
          <p class="ra">
            821131703​
          </p>
        </li>
        <li class="integrante">
          <i class="fa fa-user-circle foto" aria-hidden="true"></i>
          <p class="nome">
            Matheus Neves Rodrigues
          </p>
          <p class="ra">
            822164324​
          </p>
        </li>
        <li class="integrante">
          <i class="fa fa-user-circle foto" aria-hidden="true"></i>
          <p class="nome">
            Matheus Vidinha Romano
          </p>
          <p class="ra">
            822164348​
          </p>

        </li>
      </ul>
    </div>
  </section>
  <div id="map"></div>

  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script id="map" src="/js/map.js"></script>
  <!-- <script id="overlay" src="/js/overlay.js"></script> -->
</body>

</html>